<section class="py-5">
    <div class="row">
        <div class="col">
            <div>
                <div class=" mt-5">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="\assets\icons\icons8-ecommerce-filled-outline-32.png" > 
                    </div>
                    <div>
                        <h1 class=" text-center">ShopyEase</h1>
                    </div>
                   
                </div>
               
            <div class="d-flex justify-content-center align-items-center mt-5"> 
            <tui-island
                size="l"
                
            >
                <div class="tui-island__content">
                    
                    <div>
                        <div class="w-100  d-flex justify-content-center">
                            <h3 class="tui-island__title ">Login</h3>
                        </div>
                        <form [formGroup]="credentials" (ngSubmit)="login()">
                        <div class="tui-island__paragraph">
                            
                                <div class="mb-3">
                                    <label  class="form-label">Usuario</label>
                                    <input  formControlName="username" type="text" placeholder="@userName"    class="form-control" >
                                    <span *ngIf="credentials.get('username')?.invalid && credentials.get('username')?.touched">
                                        <p  class="text-danger">  *Username debe iniciar con '@'</p> 
                                      </span>
                                  </div>
                                  <div class="mb-3">
                                    <label  class="form-label">Password</label>
                                    <input formControlName="password" type="password"  class="form-control"  placeholder="*******">
                                    <div *ngIf="credentials.get('password')?.touched && credentials.get('password')?.invalid">
                                        <div *ngIf="credentials.get('password')?.errors">
          
                                         <p  class="text-danger">password requerido </p> 
                                        </div>
                                    </div>
                                    <a   tuiLink routerLink="/auth/recovery-password"> recovery</a>
                                    
                                  </div>
                                  <div class="d-flex justify-content-center w-100 "> 
                                    <div  *ngIf="loader" class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                      </div>
                                </div>
                                  <div class="mb-3 d-flex justify-content-end">
                                      <a   tuiLink routerLink="/auth/register"> register</a>
                                  </div>
                            
                        </div>
                        <button
                            tuiButton
                            type="submit"
                          
                            size="m"
                            class="tui-island__footer-button"
                        >
                        login
                        </button>
                    </form>
                    </div>
                </div>
            </tui-island>
            </div> 
            </div>
            
        </div>
    </div>
</section>

