<section class="container bg-danger">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 p-5">
      <div class="d-flex">
        <button class="btn btn-primary me-3" (click)="checkPayment()">Paypal</button><button (click)="checkPayment()"  class="btn btn-success">Pago en Fisico </button>
      </div>
      <div *ngIf="paypalPay">
        <div *ngIf="!paidFor">
          <h1>Buy this Couch - ${{ product.price }} OBO</h1>
        </div>
        
        <div *ngIf=paidFor>
          <h1>Yay, you bought a sweet couch!</h1>
        </div>
        
        
        <div #paypal></div>
      </div>
      
    </div>
    <div *ngIf="!paypalPay">
<p>pago metalico</p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 p-5">
     <div *ngIf="address">
      Enviar a la siguiente direccion
  {{address.city}}
  {{address.country}}
  {{address.state}}
  {{address.zip}}
     </div>
    </div>
  </div>
</section>

