<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="mt-5 card">
                <div class="card-body">
                    <form >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                          </div>
                          <div class="mb-3 d-flex justify-content-between">
                            <button class="btn btn-primary">submit</button>  <a href=""> login</a>
                          </div>
                    </form>

                </div>
            </div>
        </div> 
    </div>
</div>
