<section class="py-5">
    <div class="row">
        <div class="col py-5">
            <div class=" mt-5">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="\assets\icons\icons8-ecommerce-filled-outline-32.png" > 
                </div>
                <div class="">
                    <h1 class=" text-center">ShopyEase</h1>
                </div>
               
            </div>
            <div class="d-flex justify-content-center align-items-center mt-5">
                <tui-island
                size="l"
                class=""
            >
                <div class="tui-island__content">
                    
                    <div>
                        <div class="w-100  d-flex justify-content-center">
                            <h3 class="tui-island__title ">Recovery</h3>
                        </div>
                        <form class="mt-2" [formGroup]="credentials" (ngSubmit)="submit()" >
                            <div class="mb-3">
                                <label  class="form-label">Email address</label>
                                <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
                                <div *ngIf="credentials.get('email')?.touched && credentials.get('email')?.invalid">
                                    <div *ngIf="credentials.get('email')?.errors">
      
                                     <p  class="text-danger">El campo email es requerido</p> 
                                    </div>
                                  </div>
                              </div>
                              <div class="mb-3 d-flex justify-content-between">
                                   <a tuiLink routerLink="/auth/login"> login</a>
                              </div>
                              <button
                            tuiButton
                            type="submit"
                          
                            size="m"
                            class="tui-island__footer-button"
                        >
                        Send Email
                        </button>
                        </form>
                    </div>
                </div>
            </tui-island>
            </div> 
        </div>
    </div>
    
</section>
