<div class="row">
    <div class="col">
      <div class=" mt-5">
        <div class="d-flex justify-content-center align-items-center">
            <img src="\assets\icons\icons8-ecommerce-filled-outline-32.png" > 
        </div>
        <div>
            <h1 class=" text-center">ShopyEase</h1>
        </div>
       
    </div>
        <div class="d-flex justify-content-center align-items-center mt-2">
            
            <tui-island
                size="l"
                class="mt-5"
            >
                <div class="tui-island__content">
                    
                    <div>
                        <div class="w-100  d-flex justify-content-center">
                            <h3 class="tui-island__title ">Change Password</h3>
                        </div>
                        <form class="mt-3" [formGroup]="credentials" (ngSubmit)="submit()">
                          <div class="mb-3">
                              <label  class="form-label">Password</label>
                              <input formControlName="password" class="form-control" type="password" placeholder="*******">
                              <div *ngIf="credentials.get('password')?.touched && credentials.get('password')?.invalid">
                                <div *ngIf="credentials.get('password')?.errors">
  
                                 <p  class="text-danger">password requerido <br>  Entre 6 y 12 caracteres</p> 
                                </div>
                              </div>
                            </div>
                            <div class="mb-3">
                              <label  class="form-label">repeat password</label>
                              
                              <input formControlName="repeatPassword" class="form-control" type="password" placeholder="">
                              <div *ngIf="credentials.get('repeatPassword')?.touched && credentials.get('repeatPassword')?.invalid">
                                <div *ngIf="credentials.get('repeatPassword')?.errors">
                                 <p class="text-danger"> Las contraseñas no coinciden.</p> 
                                </div>
                              </div>
                              <div class="d-flex justify-content-center w-100 mt-2"> 
                                <div  *ngIf="loader" class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                  </div>
                            </div>
                            </div>
                            <div class="mb-3 d-flex justify-content-end">
                               <a tuiLink routerLink="/auth/login"> Login</a>
                            </div>
                            <button
                            tuiButton
                            type="submit"
                          
                            size="m"
                            class="tui-island__footer-button"
                        >
                        Change Password
                        </button>
                      </form>
                    </div>
                </div>
            </tui-island>
        </div> 
    </div>
</div>
