<section class="container">
  
    <div class="row">
        <div  class="col">
            <div *ngFor="let order of orders"class="">
                <a
                routerLink="/main/order/{{order._id}}"
                tuiLink
            >
                <tui-island size="l">
                    <div class="tui-island__content">
                        <div class="tui-island__figure">
                          <h3>{{order.totalPrice}}</h3>
                        </div>
                        <div *ngFor="let product of order.products">
                           
                            <p class="tui-island__paragraph">
                               {{product.product.title}}
                                {{product.quantity
                                }}
                                {{product.price
                                }}
                            </p>
                            
                        </div>
                    </div>
                </tui-island>
            </a>
        </div>
        </div>
        </div>
</section>
