<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="">
          <img   src="/assets/images/brand/lg/banner_1.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <div class="carousel-item">
        <img   src="/assets/images/brand/lg/banner_2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img  src="/assets/images/brand/lg/banner_3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<section class="container">
  <section class="row pt-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
      
        <div class="m-3">
        <h3 class="my-2">ShopyEase</h3>
        <h6 class="text-wrap lh-lg text-start">Para sacar el máximo provecho de tu experiencia en nuestra tienda en línea, te recomendamos seguir estos consejos:<br>

          Explora nuestra amplia selección de productos cuidadosamente seleccionados y encuentra el que mejor se adapte a tus necesidades y preferencias.<br>
          
          Asegúrate de leer las descripciones detalladas de los productos y sus especificaciones para tomar una decisión informada antes de realizar tu compra.<br>
          
          Si tienes alguna pregunta o inquietud, nuestro equipo de soporte al cliente está disponible para ayudarte en cualquier momento.<br>
          
          Esperamos que disfrutes de tu experiencia de compra en ShopEase.</h6>
        </div>
        
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 ">
  <div class="container">
   
    <div class="row  justify-content-center mb-3  g-4  ">
     
      <h4 class="text-center">categorias</h4>
      <div *ngFor="let category of categories" class="col-12 col-sm-12 col-md-12 col-lg-6   ">
        <div>
          <tui-island  class="max-h-card"  [hoverable]="true"  size="l">
            <a 
            tuiLink
            routerLink="/main/products-list/category:{{category._id}}"
       
            
        > 
            <div class="tui-island__content">
                <figure class="tui-island__figure">
                    <div  class="some-figure d-flex justify-content-center align-items-center">
                       <!--<tui-svg src="tuiIconBluetoothLarge"></tui-svg>--> 
                    </div>
                </figure>
                <div>
                    <h3 class="tui-island__title">{{category.title
                    }}</h3>
                    <p class="tui-island__paragraph">
                      {{category.description}}
                    </p>
                </div>
            </div>
        </a>
          </tui-island> 
        </div>
       
    </div>
    </div>
  </div>
  </div>
</section>
<section   class="mt-2 container">
  <h4 class="my-5">Mas buscados</h4>
  <div class="mt-5 d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block">
    <tui-carousel
  [(index)]="index"
  [itemsCount]=5
  [draggable]="true"
>
  <ng-container  *ngFor="let product of productsList; let i = index">
      <div class=" d-flex justify-content-center"  *tuiItem>
          <a
             routerLink="/main/product/{{product._id}}"
          >
          <img
          width="150px"
          height="150px"
           alt="{{product.title}}"
           src= "{{product.image }}"
           class="item"
           [class.item_active]="i === index + 1"
         />
          </a>
        </div>
  </ng-container>
</tui-carousel>
  </div>
  <div class="mt-5 d-lg-none d-xl-block d-xl-none d-xxl-block d-xxl-none">
    <tui-carousel
  [(index)]="index"
  [itemsCount]=3
  [draggable]="true"
>
  <ng-container  *ngFor="let product of productsList; let i = index">
      <div class=" d-flex justify-content-center"  *tuiItem>
          <a
             routerLink="/main/product/{{product._id}}"
          >
          <img
          width="100px"
          height="100px"
           alt="{{product.title}}"
           src= "{{product.image }}"
           class="item"
           [class.item_active]="i === index + 1"
         />
          </a>
        </div>
  </ng-container>
</tui-carousel>
  </div>
  
</section>
</section>


